@model WallProject.Models.WallViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" type="text/css" href="~/css/Wall.css" media="screen" />
<head>
    <meta charset="utf-8">

    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>social network wall - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="panel-header"> <h1 class="text-header">System Promocji</h1></div>
        </div>
        @*filtry*@
        <div class="row">
            <div class="col-sm-3">

                <div class="filters">

                    <div class="panel">

                        <!-- BEGIN FILTERS -->
                        <h3 class="grid-title">Hello @Model.Owner.UserName!</h3>
                        <hr>

                        <!-- BEGIN FILTER BY CATEGORY -->
                        <h4>All categories:</h4>

                        @foreach (var category in Model.Categories)
                        {
                            <div >
                                <label> -@category.CategoryName </label>
                            </div>
                        }

                    </div>
                    <!-- END FILTERS -->



                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="panel profile-info">
                        <form>
                            <textarea id="NewPost" class="form-control input-lg p-text-area" rows="2" style="color: black" placeholder="Whats in your mind today, @Model.Owner.UserName.Split().First()?"></textarea>
                        </form>
                        <footer class="panel-footer">
                            <button id="PostBtnId" onclick="CreateNewPost(@Model.Owner.UserID)" type="button" class="btn btn-info pull-right">Post</button>
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                                <li><a href="#"><i class=" fa fa-film"></i></a></li>
                                <li><a href="#"><i class="fa fa-microphone"></i></a></li>
                            </ul>
                        </footer>
                    </div>
                    <div class="row" style="background-color:black; height:5px; width:1000px; "></div>
                    <br /><hr />
                    <div class="panel">
                        <div class="panel-body">
                            @foreach (var post in Model.Posts)
                            {
                            <div id="post_@post.Id">
                                <!-- OBSZAR POJEDYNCZEGO POSTA -->
                                <!-- Info -->
                                <div style="text-align:right; color:@(post.IsPromoted ? "orangered": "grey")">@(post.IsPromoted ? "Promoted post" : "Unpromoted post")</div>
                                <div class="fb-user-thumb">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                                </div>

                                <div class="fb-user-details">
                                    <h3><a href="#" class="#">@post.OwnerName </a></h3>
                                    <div style="color:grey"> Dodano: @post.Datetime </div>
                                    <div style="text-align:right; color:chocolate">@Model.Categories[post.Category-1].CategoryName </div>
                                </div>
                                <div class="clearfix"></div>


                                <!-- Content -->

                                <p class="fb-user-status">
                                    @post.Content
                                </p>

                                <!-- Liki itp -->

                                <div class="fb-status-container fb-border">
                                    <div class="fb-time-action">
                                        <a href="#" onclick="LikePost(@post.Id, @Model.Owner.UserID, @(post.IsLikedByUser ? "false" : "true")  )" style="color:@(post.IsLikedByUser ? "midnightblue" : "blue")">
                                            @(post.IsLikedByUser ? "You like it!. Click to unlike.": "Like it!" )
                                        </a>
                                    </div>
                                    <div class="fb-time-action like-info" style="text-align:right">
                                        <a href="#">@post.Likes people like it.</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel">
                                    <div class="fb-status-container  fb-gray-bg">
                                        <div><h3>Comments:</h3></div>
                                        <!-- OBSZAR POJEDYNCZEGO POSTA -->
                                        <ul class="fb-comments">
                                            @foreach (var comment in post.Comments)
                                            {
                                                <!-- OBSZAR POJEDYNCZEGO KOMENTARZA -->
                                                <li> 
                                                    <a href="#" class="cmt-thumb">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                                    </a>
                                                    <div class="cmt-details">
                                                        <a href="#"><h5>@comment.OwnerName</h5></a>
                                                        <br />
                                                        <p  id="@comment.Id" class="fb-user-status">
                                                            @comment.Content
                                                        </p>
                                                        <div style="overflow: hidden;">
                                                            <p style="float: left; color:Highlight">
                                                                @comment.Likes people like this.
                                                            <a href="#" class="btn-block" onclick="LikeComment( @comment.Id, @Model.Owner.UserID, @(comment.IsLikedByUser ? "false" : "true") )">
                                                                @(comment.IsLikedByUser ? "You like it! Click to unlike.": "Like this comment!" )
                                                            </a>
                                                        </p>
                                                        <p style="float: right;">@comment.Time</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- OBSZAR POJEDYNCZEGO KOMENTARZA -->

                                        }
                                            <!-- DODAJ KOMENTARZ -->
                                            <li>
                                                <a href="#" class="cmt-thumb">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                                </a>
                                                <div class="cmt-form">
                                                    <textarea id="@("NewComment_"+post.Id.ToString())" class="form-control" placeholder="Write a comment..." name=""></textarea>
                                                </div>

                                                <button id="AddNewComment" onclick="AddComment( @post.Id,@Model.Owner.UserID)" type="button" class="btn btn-info pull-right">AddComment</button>
                                            </li>
                                            <!-- DODAJ KOMENTARZ -->
                                        </ul>
                                        <div class="clearfix"></div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                                }
                            </div>
                        </div>

                    </div>
            </div>


    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function CreateNewPost(userId) {
            var postText = document.getElementById("NewPost").value;
            //postText = $("#NewPost").value;
            $.ajax({
            url: '@Url.Action("AddNewPost", "Home")',
                data: { "postText": postText, "userId":userId},
            type: 'POST',
            dateType: "json",
            cache:false,
            success: function (data) {



            },
            error: function (data) {
                console.log("ERROR " + data)

                }


            });
            location.reload();
        }
        async function AddComment(postId, userId) {

            var s = "NewComment_" + String(postId);
            var commentText =await  document.getElementById(s).value;

            $.ajax({
            url: '@Url.Action("AddNewComment", "Home")',
                data: { "commentText": commentText, "postId": postId, "UserId": userId},
            type: 'POST',
            dateType: "json",
            cache:false,
            success: function (data) {



            },
            error: function (data) {
                console.log("ERROR " + data)

                }
            });
            location.reload();
        }
        async function LikePost(postId, userId, like) {

            $.ajax({
                url: '@Url.Action("EditPostLikeStatus", "Home")',
                data: { "postID": postId, "userID": userId, "like": like },


            type: 'POST',
            dateType: "json",
            cache:false,
            success: function (data) {
            },
            error: function (data) {
                console.log("ERROR " + data)
                }
            });
            location.reload(true);
        }

           async function LikeComment(commentId, userId, like) {

            $.ajax({
                url: '@Url.Action("EditCommentLikeStatus", "Home")',
                data: { "commentID": commentId, "userID": userId, "like": like },


            type: 'POST',
            dateType: "json",
            cache:false,
            success: function (data) {
            },
            error: function (data) {
                console.log("ERROR " + data)
                }
            });
            location.reload(true);
        }
    </script>
</body>